################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
**/bin/
**/obj/

*.nupkg
**/nuget.exe

*.csproj.user
/nuspec/netstandard2.0
